Libraries/fr.cg95/model
Libraries/fr.cg95/plugins
Libraries/conf/deployments/local.properties
*~
.DS_Store
BackOfficeNG/grails-app/conf/hibernate/
BackOfficeNG/grails-app/domain/
BackOfficeNG/lib/
BackOfficeNG/plugins/capdemat-casclient-0.3/
BackOfficeNG/plugins/capdemat-overridable-messages-1.2.0-1/
BackOfficeNG/plugins/extended-data-binding-0.2/
BackOfficeNG/plugins/google-chart-0.5.1/
BackOfficeNG/plugins/jcaptcha-1.0/
BackOfficeNG/plugins/rest-0.3/
BackOfficeNG/plugins/tomcat-1.2.0/
BackOfficeNG/src/java/
BackOfficeNG/test/
BackOfficeNG/web-app/cas.gsp
BackOfficeNG/web-app/casLogout.gsp
Assets/blainville/localAuthority-blainville.xml
Assets/blainville/local_referential/local_referential_sagr.xml
Assets/blainville/local_referential/local_referential_sgr.xml
Model/build/
